<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Persönlicher Blog</title>
<style type="text/css">
#sidebar { float: left; width: 20%; }
.post { float: right; width: 79%; }
#footer { clear: both; }
</style>
</head>
<body>
<div id="header">
	<h1>Persönlicher Blog</h1>
</div>
<div id="sidebar">
	<h2>Menü</h2>
	<ul>
		<li><a href="#">Letzte Woche</a></li>
		<li><a href="#">Archiv</a></li>
	</ul>
</div>
<div class="post">
	<h2>Heute</h2>
	<p>Heute gabs wieder Tee zum Frühstück Das war aber dringend notwendig!</p>
</div>
<div class="post">
	<h2>Gestern</h2>
	<p>Kein Tee mehr im Haus - musste neuen holen. Noch ein wenig weiteres herumgeschreibe.</p>
</div>
<div id="footer">
	<p><small>Copyright Informationen und noch mehr über diese Seite.</small></p>
</div>
</body>
</html>